<app-hero-container>
  <article class="hero">
    <div class="hero__content">
      <h2 class="hero__title">All your media now lives in one place</h2>
      <a href="#sign-up" aria-label="Start Your Free Trial" class="navigation__link navigation__link--large navigation__link--primary"
      >Start Your Free Trial</a
      >
    </div>
    <figure class="hero__image">
      <picture>
        <source
          type="image/webp"
          sizes="(max-width: 1900px) 100vw, 1900px"
          srcset="
            ./assets/images/homepage/hero/img_homepage_hero_320.webp   320w,
            ./assets/images/homepage/hero/img_homepage_hero_904.webp   904w,
            ./assets/images/homepage/hero/img_homepage_hero_1285.webp 1285w,
            ./assets/images/homepage/hero/img_homepage_hero_1640.webp 1640w,
            ./assets/images/homepage/hero/img_homepage_hero_1900.webp 1900w
          "
          alt="Woman laying on a couch, watching Game of Throne on TV"
        />
        <source
          sizes="(max-width: 1900px) 100vw, 1900px"
          srcset="
            ./assets/images/homepage/hero/img_homepage_hero_320.jpg   320w,
            ./assets/images/homepage/hero/img_homepage_hero_904.jpg   904w,
            ./assets/images/homepage/hero/img_homepage_hero_1285.jpg 1285w,
            ./assets/images/homepage/hero/img_homepage_hero_1640.jpg 1640w,
            ./assets/images/homepage/hero/img_homepage_hero_1900.jpg 1900w
          "
          alt="Woman laying on a couch, watching Game of Throne on TV"
        />
        <img src="./assets/images/homepage/hero/img_homepage_hero_1900.jpg" alt="Woman laying on a couch, watching Game of Throne on TV" />
      </picture>
    </figure>
  </article>
</app-hero-container>
