<app-gallery-container>
  <section class="section row">
    <h3 class="section__title col-small-12">{{ galleryTitle }}</h3>
    <ol class="col-small-12"
        [ngClass]="mediaType !== mediaTypeList.MOVIE ? 'gallery__videos' : 'gallery__covers'"
        [attr.aria-label]="ariaLabel"
    >
      <li *ngFor="let item of gallery; let index = index"
          class="grid__thumbnail grid__thumbnail--small"
          [title]="item.title"
      >
        <a [routerLink]="['details', mediaType === mediaTypeList.MOVIE ? 'movie' : 'tv', item.id]"
           (click)="prefetchItem(item.id, mediaType)"
           (mouseover)="prefetchItem(item.id, mediaType)"
           class="grid__thumbnail__link">
          <picture
            class="grid__thumbnail__image"
            [ngClass]="mediaType !== mediaTypeList.MOVIE ? 'video' : 'cover'"
          >
            <source media="(min-width: 40rem)" [srcset]="item.imageBaseUrl + 'w342' + item.imageFile" />
            <img [src]="item.imageBaseUrl + 'w300' + item.imageFile"
                 [width]="mediaType === mediaTypeList.MOVIE ? 172 : 352"
                 [height]="mediaType === mediaTypeList.MOVIE ? 258 : 252"
                 [alt]="item.title" />
          </picture>
          <div *ngIf="mediaType === mediaTypeList.MOVIE" class="grid__thumbnail__score">
            <label class="label" [attr.for]="uuid + '-thumbmail-score-' + (index + 1)">
            <span class="score"
                  [attr.id]="uuid + '-thumbmail-score-' + (index + 1)"
                  [attr.name]="'thumbmail-score-' + (index + 1)"
                  [attr.aria-label]="'Movie score was ' + item.score + ' in a total of 10'"
            >{{ item.score }}</span>
            </label>
          </div>
        </a>
      </li>
    </ol>
  </section>
</app-gallery-container>
